# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/3D-Project/.vs/Sample/v15/Browse.VC.opendb
/3D-Project/.vs/Sample/v15/Browse.VC.opendb
*.opendb
*.opendb
*.opendb
*.png
*.fbx
*.jpg
*.pz3
*.dae
*.c4d
*.3ds
Air-Racing/k2yeh64fmm0w-Wolf-Rigged-and-Game-Ready.zip
*.rar
Air-Racing/A380.7z
